<% questions = @quiz.questions %>
<% rights = questions.last( questions.length / 2 ) %>
<% lefts = questions - rights %>

<form action="/repositories" method="post">
	<dl class="form">
		<dd><input id="answer" name="" size="30" type="text" placeholder="Type answers here&hellip;"></dd>
	</dl>
</form>

<div id="questions">
	<div class="lefterly">
		<ul class="repositories">
			<% lefts.each do |q| %>
			<li class="simple" qid="<%= q.id %>">
				<img src="/images/correct.gif"/>
				<ul class="repo-stats">
					<li class="forks"><a href="#" title="Forks">0</a></li>
				</ul>
				<h3 class="hint"><%= q.prompt %></h3>
			</li>
			<% end %>
		</ul>
	</div><!-- /#lefterly -->

	<div class="righterly">
		<ul class="repositories">
			<% rights.each do |q| %>
			<li class="simple" qid="<%= q.id %>">
				<img src="/images/correct.gif"/>
				<ul class="repo-stats">
					<li class="forks"><a href="#" title="Forks">0</a></li>
				</ul>
				<h3 class="hint"><%= q.prompt %></h3>
			</li>
			<% end %>
		</ul>
	</div><!-- /#righterly -->
</div>