<div class="repos" id="your_repos"> 
	<div class="top-bar"> 
		<h2>Leaderboard <em>(4 players)</em></h2> 
		<a href="/repositories/new" class="button new-repo">Share results</a> 
	</div> 

	<div class="filter-bar"> 
		<ul class="repo_filterer"> 
			<li class="all_repos">
				<a href="#" class="repo_filter filter_selected" rel="public, li.private">Answers correct</a>
			</li> 
			<li><a href="#" class="repo_filter" rel="private">Player name&nbsp;&nbsp;&nbsp;&nbsp;</a></li> 
			<li><a href="#" class="repo_filter" rel="source">Place</a></li>
		</ul> 
	</div> 

	<ul id="repo_listing" class="repo_list">
		<!--<li class="source diffstat"><a href="#diff-0"><span class="diffstat-count">7</span><span class="diffstat-bar"><span>•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span>•</span><span>•</span><span class="correct">•</span><span>•</span><span class="correct">•</span><span>•</span><span>•</span><span>•</span><span class="correct">•</span><span>•</span><span class="correct">•</span><span>•</span><span>•</span></span><span class="diffstat-summary">pingoaf</span><span class="place">1st</span></a></li>
		<li class="source diffstat me"><a href="#diff-0"><span class="diffstat-count">6</span><span class="diffstat-bar"><span>•</span><span>•</span><span>•</span><span class="correct">•</span><span>•</span><span>•</span><span>•</span><span>•</span><span class="correct">•</span><span>•</span><span>•</span><span>•</span><span class="correct">•</span><span>•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span></span><span class="diffstat-summary">jsomers</span><span class="place">2nd</span></a></li>
		<li class="source diffstat"><a href="#diff-0"><span class="diffstat-count">4</span><span class="diffstat-bar"><span class="correct">•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span class="correct">•</span><span>•</span><span>•</span><span class="correct">•</span><span>•</span><span>•</span><span>•</span><span>•</span><span class="correct">•</span></span><span class="diffstat-summary">nsrivast</span><span class="place">3rd</span></a></li>
		<li class="source diffstat"><a href="#diff-0"><span class="diffstat-count">2</span><span class="diffstat-bar"><span>•</span><span class="correct">•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span class="correct">•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span><span>•</span></span><span class="diffstat-summary">silberd0llar</span><span class="place">4th</span></a></li> -->
</ul>

	</ul> 

	<div class="bottom-bar">
		<a href="#" class="show-more" id="inline_your_repos">Waiting for more players&hellip;</a>
	</div>
</div><!-- /#your_repos -->