<% content_for :h1 do %>
	Choose a handle before you play
<% end %>

<% content_for :sub_h1 do %>
	Make a name for yourself...
<% end %>

<form action="/play/set_handle" class="choose-handle">
	<dl class="form">
		<dd>
			<input type="text" name="handle" id="handle" placeholder="enter handle here..."/>
		</dd>
	</dl>
	<div class="button-container">
		<button type="submit" class="classy" style="margin:0 auto;">
			<span>Register handle</span>
		</button>
	</div>
</form>

<script type="text/javascript">
	$(document).ready(function() {
		$("#handle").focus();
	})
</script>