<% content_for :h1 do %>
	<a href="/">quizzes</a> &rarr; <a href="/jsomers">words</a> &rarr; <a href="https://github.com/jsomers/quizdash">fill in the blank</a> &rarr; <strong><a href="https://github.com/jsomers/quizdash">6-letters</a></strong>
<% end %>

<% content_for :top_right do %>
	<li class="clock">
		There is <span>01:56</span> left
	</li>
<% end %>

<div class="news">
	<%= render "play/inputs" %>
	<%= javascript_include_tag "http://localhost:8080/application.js" %>

	<script type="text/javascript">
		var jug = new Juggernaut;

		jug.on("connect", function() {
			alert("I'm connected!");
		});

		jug.subscribe("/chats", function(data) {
			$("#chats").append($("<li/>").text(data));
		})

		var s = function(msg) {
			$.post("/jugtest/msg", {txt: msg}, 
				function(data) {
					console.log(data);
				}
			)
		}
	</script>

	<ul id="chats">

	</ul>
</div>
	
	<%= render "play/leaderboard" %>