<% content_for :extra_head do %>
	<%= javascript_include_tag "http://localhost:8080/application.js" %>
<% end %>

<% content_for :h1 do %>
	<a href="/">quizzes</a> &rarr; <a href="/jsomers">words</a> &rarr; <a href="https://github.com/jsomers/quizdash">fill in the blank</a> &rarr; <strong><a href="https://github.com/jsomers/quizdash">6-letters</a></strong>
<% end %>

<% content_for :top_right do %>
	<li class="clock">
		There is <span>01:56</span> left
	</li>
<% end %>

<div class="news">
	<%= render "play/game_area" %>
</div>
	
<%= render "play/leaderboard" %>

<% content_for :page_scripts do %>
	<%= render "play/quiz_js" %>
<% end %>

<div id="countdown_container" style="position: absolute; z-index: 100; display: block; text-align: center; margin:0 auto; display: none; top: 100px;">
	<div id="countdown_clock" style="font-size: 130px; font-weight: bold; color: #aaa;"><span>9</span></div>
</div>