<div id="footer" class="clearfix"> 
	<div class="site"> 
		<div class="sponsor"> 
			<a href="http://www.jsomers.net/" class="logo"> 
				<img alt="jsomers.net" src="/images/big_dino.png" style="height: 50px" /> 
			</a> 
			Powered by <a href="http://www.jsomers.net">James Somers</a> <br/>of <a href="http://www.jimbojeopardy.com">Jimbo Jeopardy!</a>
		</div> 

		<ul class="links"> 
			<li class="blog"><a href="https://github.com/blog">Blog</a></li> 
			<li><a href="https://github.com/contact">Contact</a></li> 
			<li><a href="http://develop.github.com">About</a></li> 
			<li><a href="http://status.github.com">API</a></li> 
		</ul> 
		<ul class="sosueme"> 
			<li class="main">&copy; 2011 <span id="_rrt" title="0.10439s from fe5.rs.github.com">James Somers.</span> All rights reserved.</li> 
			<li><a href="/site/terms">Terms of Service</a></li> 
			<li><a href="/site/privacy">Privacy</a></li> 
			<li><a href="https://github.com/security">Security</a></li> 
		</ul> 
	</div><!-- /.site --> 
</div><!-- /#footer --> 

<div class="locales"> 
	<div class="site"> 
		<ul class="choices clearfix limited-locales"> 
			<li><span class="current">English</span></li> 
   			<li><a rel="nofollow" href="?locale=de">Deutsch</a></li> 
   			<li><a rel="nofollow" href="?locale=fr">Français</a></li> 
   			<li><a rel="nofollow" href="?locale=ja">日本語</a></li> 
   			<li><a rel="nofollow" href="?locale=pt-BR">Português (BR)</a></li> 
   			<li><a rel="nofollow" href="?locale=ru">Русский</a></li> 
   			<li><a rel="nofollow" href="?locale=zh">中文</a></li> 
			<li class="all">
				<a href="#" class="minibutton btn-forward js-all-locales">
					<span><span class="icon"></span>See all available languages</span>
				</a>
			</li> 
		</ul> 
	</div> 
	<div class="fade"></div> 
</div><!-- /.locales -->