<form action="/repositories" method="post">
      <dl class="form">
        <dd><input id="answer" name="" size="30" type="text" placeholder="Type answers here&hellip;"></dd>
      </dl>
</form>

<div class="lefterly">
	<ul class="repositories">
		<li class="simple" qid="1">
			<img src="/images/correct.gif"/>
			<ul class="repo-stats">
				<li class="forks"><a href="/wezm/allocator/network" title="Forks">0</a></li>
			</ul>
			<h3 class="hint">_ _ _ M T _</h3>
		</li>

		<li class="simple" qid="2">
			<img src="/images/correct.gif"/>
			<ul class="repo-stats">
				<li class="forks"><a href="/wezm/allocator/network" title="Forks">0</a></li>
			</ul>
			<h3 class="hint">_ L _ _ _ X</h3>
		</li>
	</ul>
</div><!-- /#lefterly -->

<div class="righterly">
	<ul class="repositories">
		<li class="simple" qid="3">
			<img src="/images/correct.gif"/>
			<ul class="repo-stats">
				<li class="forks"><a href="/wezm/allocator/network" title="Forks">0</a></li>
			</ul>
			<h3 class="hint">I _ _ _ _ O</h3>
		</li>

		<li class="simple" qid="4">
			<img src="/images/correct.gif"/>
			<ul class="repo-stats">
				<li class="forks"><a href="/wezm/allocator/network" title="Forks">0</a></li>
			</ul>
			<h3 class="hint">_ _ Q _ O _</h3>
		</li>
	</ul>
</div><!-- /#righterly -->