<div class="repos" id="your_repos"> 
	<div class="top-bar"> 
		<h2>Leaderboard <em>(14 players)</em></h2> 
		<a href="/repositories/new" class="button new-repo">New Repository</a> 
	</div> 

	<div class="filter-bar"> 
		<ul class="repo_filterer"> 
			<li class="all_repos">
				<a href="#" class="repo_filter filter_selected" rel="public, li.private">All Repositories</a>
			</li> 
			<li><a href="#" class="repo_filter" rel="public">Public</a></li> 
			<li><a href="#" class="repo_filter" rel="private">Private</a></li> 
			<li><a href="#" class="repo_filter" rel="source">Sources</a></li>
		</ul> 
	</div> 

	<ul id="repo_listing" class="repo_list">

		<li class="public source"> 
			<a href="https://github.com/jsomers/quizdash"> 
				<span class="owner">jsomers</span>/<span class="repo">quizdash</span> 
			</a> 
		</li> 

		<li class="private source diffstat">
			<a href="#diff-0" class="tooltipped leftwards" original-title="3 additions &amp; 0 deletions">
				<span class="diffstat-bar">
					<span class="nil">•</span><span class="nil">•</span><span class="correct">•</span><span class="correct">•</span><span class="nil">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span>
				</span>
				<span class="diffstat-summary">pingoaf</span>
			</a>
		</li>
		
		<li class="public source diffstat">
			<a href="#diff-0" class="tooltipped leftwards" original-title="3 additions &amp; 0 deletions">
				<span class="diffstat-bar">
					<span class="correct">•</span><span class="correct">•</span><span class="nil">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span class="nil">•</span><span class="correct">•</span><span class="correct">•</span><span class="correct">•</span><span class="nil">•</span><span class="correct">•</span>
				</span>
				<span class="diffstat-summary">jsomers</span>
			</a>
		</li>
		

		<li class="public source"> 
			<a href="https://github.com/jsomers/solitaire"> 
				<span class="owner">jsomers</span>/<span class="repo">solitaire</span> 
			</a> 
		</li> 
	</ul> 

	<div class="bottom-bar">
		<a href="#" class="show-more" id="inline_your_repos">Show 4 more repositories&hellip;</a>
	</div>
</div><!-- /#your_repos -->