<div id="header" class="true"> 
	<a class="logo boring" href="/"> 
		<img src="/images/logo.png" class="default" alt="quizdash" /> 
	</a> 

	<div class="userbox"> 
		<div class="avatarname"> 
			<a href="https://github.com/jsomers"><img src="https://secure.gravatar.com/avatar/4cd969f7afb5655fe00423c7ac80743f?s=140&d=https://github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="" width="20" height="20"  /></a> 
			<a href="https://github.com/jsomers" class="name">jsomers</a> 
		</div> 
		<ul class="usernav"> 
			<li><a href="https://github.com/">My stats</a></li> 
			<li> 
				<a href="https://github.com/inbox">My quizzes</a> 
				<a href="https://github.com/inbox" class="unread_count ">0</a> 
			</li> 
			<li><a href="https://github.com/account">Account Settings</a></li> 
			<li><a href="/logout">Log Out</a></li> 
		</ul> 
	</div><!-- /.userbox --> 

</div><!-- /#header -->