<% content_for :h1 do %>
	<div style="text-align: center; font-size: 24px;">Welcome to QuizDash: real-time multiplayer quiz races!</div>
<% end %>

<% content_for :sub_h1 do %>
	<div style="height: 30px; text-align: center; color: #99A7AF; font-size: 16px;">(Click on a quiz below to start playing)</div>
<% end %>

<div id="commit" style="margin-top: 25px;">
	<div class="group">
		<div class="envelope commit">
			<div class="human">
				<div class="title" style="font-weight: bold; font-size: 120%">
					U.S. State Capitals
				</div>
				<div class="description" style="color: #444; font-size: 85%; min-height: 20px;">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
				</div>
				<div class="date">
  					<abbr title="2011-03-26 13:02:49" class="relatize relatized">played 23 times&mdash;last played 2 hours ago</abbr>
				</div>
			</div>
			<div class="machine">
				questions&nbsp;&nbsp;<span style="color: #222">20</span><br>
				avg score&nbsp;&nbsp;<span style="color: #222">34.6%</span><br>
				fastest&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #222">3:04.07s [5:00]</span>
			</div>
		</div>
		
		<div class="envelope commit">
			<div class="human">
				<div class="title" style="font-weight: bold; font-size: 120%">
					Six-letter word puzzles
				</div>
				<div class="description" style="color: #444; font-size: 85%; min-height: 20px;">
				</div>
				<div class="date">
  					<abbr title="2011-03-26 13:02:49" class="relatize relatized">played 18 times&mdash;last played 15 minutes ago</abbr>
				</div>
			</div>
			<div class="machine">
				questions&nbsp;&nbsp;<span style="color: #222">7</span><br>
				avg score&nbsp;&nbsp;<span style="color: #222">87.4%</span><br>
				fastest&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #222">4:38.34s [10:00]</span>
			</div>
		</div>
	</div>
</div>