<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
	<head> 
		<meta http-equiv="content-type" content="text/html;charset=UTF-8" /> 
		<meta http-equiv="X-UA-Compatible" content="chrome=1"> 
		<title>QuizDash &mdash; "A" states quiz</title>
		
		<%= stylesheet_link_tag :all %>

		<script type="text/javascript"> 
			if (typeof console == "undefined" || typeof console.log == "undefined")
			console = { log: function() {} }
		</script> 
		<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
		<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" %>
	</head> 
	
	<body class="logged_in page-dashboard">
		<div class="" id="main">
			<div id="header" class="true"> 
				<a class="logo boring" href="https://github.com/"> 
					<img src="http://github.com/images/modules/header/logov3.png?changed" class="default" alt="github" /> 
				</a> 

				<div class="userbox"> 
					<div class="avatarname"> 
						<a href="https://github.com/jsomers"><img src="https://secure.gravatar.com/avatar/4cd969f7afb5655fe00423c7ac80743f?s=140&d=https://github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="" width="20" height="20"  /></a> 
						<a href="https://github.com/jsomers" class="name">jsomers</a> 
					</div> 
					<ul class="usernav"> 
						<li><a href="https://github.com/">Dashboard</a></li> 
						<li> 
							<a href="https://github.com/inbox">Inbox</a> 
							<a href="https://github.com/inbox" class="unread_count ">0</a> 
						</li> 
						<li><a href="https://github.com/account">Account Settings</a></li> 
						<li><a href="/logout">Log Out</a></li> 
					</ul> 
				</div><!-- /.userbox --> 

				<div class="topsearch">   
					<form action="/search" id="top_search_form" method="get"> 
		      			<a href="/search" class="advanced-search tooltipped downwards" title="Advanced Search">Advanced Search</a> 
		      			<input type="search" class="search my_repos_autocompleter" name="q" results="5" placeholder="Search&hellip;" />
						<input type="submit" value="Search" class="button" /> 
		    		</form> 
    		
					<ul class="nav"> 
		      			<li><a href="/explore">Explore GitHub</a></li> 
		      			<li><a href="https://gist.github.com">Gist</a></li> 
		      			<li><a href="/blog">Blog</a></li> 
		      			<li><a href="http://help.github.com">Help</a></li> 
		    		</ul> 
				</div><!-- /.topsearch -->
			</div><!-- /#header --> 

			<div class="site"> 
				<div class="pagehead repohead vis-public">
					<div class="title-actions-bar">
		        		<h1>
		          			<a href="/">quizzes</a> / <a href="/jsomers">geography</a> / <strong><a href="https://github.com/jsomers/quizdash">"A" states</a></strong>
		        		</h1>

						<ul class="actions">
							<li style="">
								40/50
							</li>
							<li>
								<a href="/jsomers/quizdash/toggle_watch" class="minibutton btn-watch" id="unwatch_button" style=""><span><span class="icon"></span>Unwatch</span></a>
							</li>
							<li class="for-notforked">
								<a href="#fork_box" class="minibutton btn-fork" rel="facebox"><span><span class="icon"></span>Fork</span></a>
							</li>
		          			<li id="pull_request_item" class="nspr" style="">
								<a href="/jsomers/quizdash/pull/new/master" class="minibutton btn-pull-request"><span><span class="icon"></span>Pull Request</span></a>
							</li>
		      				<li class="repostats">
		        				<ul class="repo-stats">
		          					<li class="watchers watching">
										<a href="/jsomers/quizdash/watchers" title="Watchers — You're Watching" class="tooltipped downwards">1</a>
									</li>
		         					<li class="forks">
										<a href="/jsomers/quizdash/network" title="Forks" class="tooltipped downwards">1</a>
									</li>
		        				</ul>
		      				</li>
		    			</ul>
		      		</div><!-- /.title-actions-bar --> 
				</div><!-- /.pagehead --> 

				<div id="dashboard"> 
		  			<div class="news">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<%= render "sandbox/leaderboard" %>
				</div><!-- /#dashboard --> 
			</div><!-- /.site --> 
 
			<div id="footer" class="clearfix"> 
				<div class="site"> 
					<div class="sponsor"> 
						<a href="http://www.rackspace.com" class="logo"> 
		 					<img alt="Dedicated Server" src="https://assets3.github.com/images/modules/footer/rackspace_logo.png?v2?1aa00f067e8c6280717bc95120ecdd573f29367f" /> 
						</a> 
						Powered by the <a href="http://www.rackspace.com ">Dedicated
							Servers</a> and<br/> <a href="http://www.rackspacecloud.com">Cloud
								Computing</a> of Rackspace Hosting<span>&reg;</span> 
					</div> 

					<ul class="links"> 
						<li class="blog"><a href="https://github.com/blog">Blog</a></li> 
						<li><a href="http://support.github.com">Support</a></li> 
						<li><a href="https://github.com/training">Training</a></li> 
						<li><a href="http://jobs.github.com">Job Board</a></li> 
						<li><a href="http://shop.github.com">Shop</a></li> 
						<li><a href="https://github.com/contact">Contact</a></li> 
						<li><a href="http://develop.github.com">API</a></li> 
						<li><a href="http://status.github.com">Status</a></li> 
					</ul> 
					<ul class="sosueme"> 
						<li class="main">&copy; 2011 <span id="_rrt" title="0.10439s from fe5.rs.github.com">GitHub</span> Inc. All rights reserved.</li> 
						<li><a href="/site/terms">Terms of Service</a></li> 
						<li><a href="/site/privacy">Privacy</a></li> 
						<li><a href="https://github.com/security">Security</a></li> 
					</ul> 
				</div><!-- /.site --> 
			</div><!-- /#footer --> 

			<div class="locales"> 
				<div class="site"> 
					<ul class="choices clearfix limited-locales"> 
		   				<li><span class="current">English</span></li> 
		       			<li><a rel="nofollow" href="?locale=de">Deutsch</a></li> 
		       			<li><a rel="nofollow" href="?locale=fr">Français</a></li> 
		       			<li><a rel="nofollow" href="?locale=ja">日本語</a></li> 
		       			<li><a rel="nofollow" href="?locale=pt-BR">Português (BR)</a></li> 
		       			<li><a rel="nofollow" href="?locale=ru">Русский</a></li> 
		       			<li><a rel="nofollow" href="?locale=zh">中文</a></li> 
		   				<li class="all">
							<a href="#" class="minibutton btn-forward js-all-locales">
								<span><span class="icon"></span>See all available languages</span>
							</a>
						</li> 
					</ul> 
				</div> 
				<div class="fade"></div> 
			</div><!-- /.locales --> 
		</div><!-- /#main --> 
		
<script type="text/javascript">
	// Like client.js in the mindy-node:
	var CONFIG = { nick: "jsomers"
	             , id: null    // set in onConnect
	             , last_message_time: 1
				 , last_action_time: 1
	             , focus: true //event listeners bound in onConnect
	             , unread: 0 //updated in the message-processing loop
	             };

	// leaderboard.js
	
	current_leaderboard = function() {
		// Gets the rankings that are implicitly baked into the DOM.
		var leaderboard = {};
		$(".diffstat").each(function(i, e) {
			var player_name = $(e).find(".diffstat-summary").text();
			var pointices = [];
			$(e).find(".diffstat-bar span").each(function(j, f) {
				if ( $(f).hasClass("correct") )
					pointices.push(1)
				else
					pointices.push(0)
			})
			leaderboard[player_name] = {"place": i, "pointices": pointices}
		})
		
		return leaderboard;
	}
	
	function ordinal(n) {
	   var s = ["th","st","nd","rd"],
	       v = n % 100;
	   return n + ( s[(v - 20) % 10] || s[v] || s[0] );
	}
	
	diffstat_bar = function(pointices) {
		var bar = $("<span>").addClass("diffstat-bar");
		for (var i = 0; i < pointices.length; i++) {
			var dot = $("<span>•</span>")
			if (pointices[i] == 1)
				dot.addClass("correct")
			bar.append( dot )
		}
		return bar;
	}
	
	n_correct = function(pointices) {
		var n = 0;
		for (var i = 0; i < pointices.length; i++) {
			if (pointices[i] == 1)
				n += 1;
		}
		return n;
	}
	
	test_leaderboard = [
		["pingoaf", [1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0]],
		["jsomers", [0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0]],
		["silberd0llar", [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1]],
		["nsrivast", [1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0]]
	]
	
	test_leaderboard2 = [
		["silberd0llar", [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1]],
		["nsrivast", [1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0]],
		["pingoaf", [1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0]],
		["jsomers", [0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0]]
	]
	
	new_leaderboard = function(leaderboard) {
		// Takes a leaderboard from the game object, updates the DOM with the
		// new information, and animates the transitions. The "leaderboard" is
		// an array of arrays: ["jsomers", [0, 1, 0...]], ["pingoaf", [1,...]]
		
		// FIXME: Why are the rows shorter on the JS event? Because of spaces between the spans.
		
		// TODO: Animate the transitions?
		
		// TODO: Color of background highlight should be based on position.
		// Low = red, then yellow, then green.
		
		var old = current_leaderboard()
		$("#repo_listing").empty()
		for (var i = 0; i < leaderboard.length; i++) {
			var pos = leaderboard[i];
			var li = $("<li>").addClass("source diffstat");
			var a = $("<a>").attr("href", "#").addClass("tooltipped leftwards");
			var bar = diffstat_bar(pos[1]);
			var ct = $("<span>").addClass("diffstat-count");
			var name = $("<span>").addClass("diffstat-summary");
			var place = $("<span>").addClass("place");
			place.html( ordinal(i + 1) );
			name.html( pos[0] );
			ct.html( n_correct(pos[1]) );
			if (pos[0] == CONFIG.nick) {
				li.addClass("me");
			} else {
				li.addClass("public");
			}
			ct.appendTo(a);
			bar.appendTo(a);
			name.appendTo(a);
			place.appendTo(a);
			a.appendTo(li);
			li.appendTo( $("#repo_listing") );
			if (i != old[pos[0]]["place"]) { // Player has changed positions.
				color = (i < old[pos[0]]["place"] ? "#ddffdd" : "#ffcccc");
				li.effect("highlight", {color: color}, 1000);
			}
		};
	}
	
	swap = function() {
		$me = $(".diffstat:eq(1)");
		$ne = $me.clone();
		$me.remove();
		$ne.appendTo( $("#repo_listing") );
		$ne.effect("highlight", {color: "#fffeeb"}, 1000);
	}
</script>
	</body> 
</html>